@tailwind base;
@tailwind components;
@tailwind utilities;
.prop {
  background-image: url(../../public/images/page-heading-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0px;
  text-align: center;
}
.video {
  background-image: url(../../public/images/video-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
  background-image: url(../../public/images/contact-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
